


textarea {
    width: 40%;
    padding: 1rem;
    margin: 1rem;
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}

#check-btn {
    background-color: gainsboro;
    border-radius: 1rem;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.5rem;
    margin-top: 2rem;
    
}

#output {
    border: 1px solid black;
    width: 40%;
    height: 10vh;
    padding: 1rem;
    margin: 1rem;
    font-size: larger;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}